body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    background: greenyellow;
}

  .container {
    text-align: center;
  }

  label {
    margin-right: 10px;
  }

  input {
    width: 40px;
  }

  button {
    padding: 10px 20px;
    margin-top: 10px;
  }

  .hidden {
    display: none;
  }

  fieldset {
    border: 2px solid #000000;
    border-radius: 10px;
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

img {
    position: absolute left;
    margin: 0;
    width: 30vw;
}

